@import './normalize.css';
/*:root -> 获取根元素html*/

:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}
li {
  list-style: none;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.row {
  padding-left: 240px;
}
.col {
  line-height: 34px;
}
.col:hover {
  border-radius: 15px;
  background-color: #a40011;
}
.imgBox {
  text-align: center;
}
.el-input__inner {
  height: 110px;
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_b4v6ad8kw07.woff2?t=1636543202959') format('woff2'), url('//at.alicdn.com/t/font_2929356_b4v6ad8kw07.woff?t=1636543202959') format('woff'),
    url('//at.alicdn.com/t/font_2929356_b4v6ad8kw07.ttf?t=1636543202959') format('truetype');
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_owuu5qiqhc.woff2?t=1636545432732') format('woff2'), url('//at.alicdn.com/t/font_2929356_owuu5qiqhc.woff?t=1636545432732') format('woff'),
    url('//at.alicdn.com/t/font_2929356_owuu5qiqhc.ttf?t=1636545432732') format('truetype');
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_voe5umx8j19.woff2?t=1636547758636') format('woff2'), url('//at.alicdn.com/t/font_2929356_voe5umx8j19.woff?t=1636547758636') format('woff'),
    url('//at.alicdn.com/t/font_2929356_voe5umx8j19.ttf?t=1636547758636') format('truetype');
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_flhlot5lenj.woff2?t=1636639288509') format('woff2'), url('//at.alicdn.com/t/font_2929356_flhlot5lenj.woff?t=1636639288509') format('woff'),
    url('//at.alicdn.com/t/font_2929356_flhlot5lenj.ttf?t=1636639288509') format('truetype');
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_u33i8g9j2hg.woff2?t=1637065258930') format('woff2'), url('//at.alicdn.com/t/font_2929356_u33i8g9j2hg.woff?t=1637065258930') format('woff'),
    url('//at.alicdn.com/t/font_2929356_u33i8g9j2hg.ttf?t=1637065258930') format('truetype');
}

@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_no7f28dfvhf.woff2?t=1637065476493') format('woff2'), url('//at.alicdn.com/t/font_2929356_no7f28dfvhf.woff?t=1637065476493') format('woff'),
    url('//at.alicdn.com/t/font_2929356_no7f28dfvhf.ttf?t=1637065476493') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-headphones:before {
  content: '\ea09';
}

.icon-bofang:before {
  content: '\e8a3';
}

.icon-vip:before {
  content: '\e6c3';
}

.icon-wode:before {
  content: '\e75e';
}

.icon-tuichu:before {
  content: '\e623';
}

.icon-shimingrenzheng:before {
  content: '\e65c';
}

.icon-xiaoxitongzhi:before {
  content: '\ec35';
}

.icon-dengji:before {
  content: '\e6f7';
}

.icon-gerenshezhi:before {
  content: '\e617';
}

.icon-xiangyoujiantou:before {
  content: '\e65f';
}

.icon-fanhuijiantou:before {
  content: '\e8b5';
}

.icon-warming:before {
  content: '\e700';
}

.icon-xiala:before {
  content: '\e654';
}
