@font-face {
  font-family: 'iconfont'; /* Project id 2929356 */
  src: url('//at.alicdn.com/t/font_2929356_ex9dqb0ot4m.woff2?t=1643709869967') format('woff2'), url('//at.alicdn.com/t/font_2929356_ex9dqb0ot4m.woff?t=1643709869967') format('woff'),
    url('//at.alicdn.com/t/font_2929356_ex9dqb0ot4m.ttf?t=1643709869967') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: '\e60c';
}

.icon-youjiantou:before {
  content: '\e609';
}

.icon-shoucang:before {
  content: '\e608';
}

.icon-music:before {
  content: '\e701';
}

.icon-paixujiangxu:before {
  content: '\e63a';
}

.icon-paixushengxu:before {
  content: '\e63c';
}

.icon-hr:before {
  content: '\e60b';
}

.icon-new:before {
  content: '\e628';
}

.icon-dkw_tisheng:before {
  content: '\e60d';
}

.icon-xiajiang:before {
  content: '\e61d';
}

.icon-shipin:before {
  content: '\e63b';
}

.icon-zanting:before {
  content: '\e607';
}

.icon-gerenzhongxin:before {
  content: '\e70b';
}

.icon-zanwuxinxi:before {
  content: '\e612';
}

.icon-xingbienv:before {
  content: '\e605';
}

.icon-xingbienan:before {
  content: '\e606';
}

.icon-jiahao:before {
  content: '\eaf3';
}

.icon-31dianzan:before {
  content: '\e604';
}

.icon-MV:before {
  content: '\e62c';
}

.icon-jiesuo:before {
  content: '\e669';
}

.icon-suoding:before {
  content: '\e6e6';
}

.icon-bofang1:before {
  content: '\e603';
}

.icon-shijian:before {
  content: '\e602';
}

.icon-aite:before {
  content: '\e60a';
}

.icon-pinglun:before {
  content: '\e600';
}

.icon-tongzhi:before {
  content: '\e601';
}

.icon-xiala1:before {
  content: '\e6b9';
}

.icon-24gl-headphones:before {
  content: '\ea09';
}

.icon-bofang:before {
  content: '\e8a3';
}

.icon-vip:before {
  content: '\e6c3';
}

.icon-wode:before {
  content: '\e75e';
}

.icon-tuichu:before {
  content: '\e623';
}

.icon-shimingrenzheng:before {
  content: '\e65c';
}

.icon-xiaoxitongzhi:before {
  content: '\ec35';
}

.icon-dengji:before {
  content: '\e6f7';
}

.icon-gerenshezhi:before {
  content: '\e617';
}

.icon-xiangyoujiantou:before {
  content: '\e65f';
}

.icon-fanhuijiantou:before {
  content: '\e8b5';
}

.icon-warming:before {
  content: '\e700';
}

.icon-xiala:before {
  content: '\e654';
}
